* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "goudy-old-style", "Georgia", sans-serif;
    text-align: justify;
    line-height: 1.618em;
    font-size: 1.25em;
    color: #212529;
}

p {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: "futura-pt", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 2.023em;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1em;
}

h2 {
    font-size: 2.023em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.25em;
    margin-bottom: 10px;
}

ul,
ol {
    margin-bottom: 20px;
    padding-left: 40px;
}

ul ul {
    margin-bottom: 10px;
}

:not(pre) > code[class*=language-] {
    padding: 10px 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.618em;
}

pre[class*=language-] {
    padding: 1em;
    margin: 0;
    overflow: auto;
}

code {
    font-size: 0.8em;
    background-color: #F0F0F0;
    padding: 5px;
    color: #000;
    border-radius: 5px;
}

pre code {
    display: block;
}

blockquote {
    background-color: #f8f9fa;
    padding: 5px 10px;
    border-left: 10px solid #ffd43b;
    font-style: italic;
    font-size: 0.8em;
    font-family: "futura-pt", "helvetica neue", sans-serif;
    color: #495057;
}

blockquote p:last-of-type,
blockquote ul, blockquote ol {
}

.section-with-aside {
    margin-right: -75%;
    display: flex;
    justify-content: space-between;
}

.section-with-aside > div {
    flex: 0 0 600px
}

aside {
    flex: 0 0 400px;
    /*max-width: 600px;*/
}

aside p:last-of-type,
aside ul,
aside ol {
    margin-bottom: 0;
}

*:focus {
    outline: 4px solid #ffd43b
}

.no-margin {
    margin: 0;
}
