* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "goudy-old-style", "Georgia", sans-serif;
    text-align: justify;
    line-height: 1.618em;
    font-size: 1.25em;
}

p {
    margin-bottom: 20px;
}

p:last-of-type {
    margin-bottom: 40px;
}

h1, h2, h3, h4, h5 {
    font-family: "futura-pt", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 2.023em;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1em;
}

h2 {
    font-size: 2.023em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.25em;
    margin-bottom: 10px;
}

ul,
ol {
    margin-bottom: 20px;
    padding-left: 40px;
}

:not(pre) > code[class*=language-] {
    padding: 10px 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.618em;
}

code {
    font-size: 0.8em;
}

pre code {
    display: block;
}
